@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600i,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Swanky+and+Moo+Moo&display=swap");
:root {
  --primaryColor: #ffda79;
  --mainPurple: #40407a;
  --mainWhite: #f7f1e3;
  --mainBlack: #4b4b4b;
  --mainGreen: #68bdaa;
  --mainGrey: #ececec;
  --mainRed: #ff5252;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Montserrat", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--primaryColor);
  z-index: 1;
}
.side-nav {
  width: 25%;
  height: calc(100vh - 60px);
  background: var(--primaryColor);
  position: fixed;
  bottom: 0;
  transform: translateX(-100%);
  transition: var(--mainTransition);
}
.side-nav-active {
  transform: translateX(0);
}
.navbar-center {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-logo {
  font-size: 2.5rem;
  font-family: "Swanky and Moo Moo", cursive;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--mainWhite);
  cursor: pointer;
  transition: var(--mainTransition);
  /* transform: translateX(-380px); */
}
.nav-icon-active {
  /* transform: translateX(100px) rotate(90deg); */
  /* transform-origin: top; */
}
.nav-icon-line {
  background: var(--mainBlack);
  border-radius: 20px;
  width: 40px;
  height: 5px;
}
.nav-icon-line:nth-child(1) {
  margin-bottom: 5px;
  width: 30px;
}
.nav-icon img {
  width: 100%;
}
.cart-btn {
  position: relative;
  cursor: pointer;
  width: 25px;
  color: var(--mainWhite);
}
.cart-items {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0 5px;
  font-weight: bold;
  border-radius: 30%;
  color: var(--mainBlack);
}
/* --------------- End of Navbar ---------------- */

/* INFO MESSAGE */

.info-message {
  display: inline-block;
  text-align: center;
  color: var(--mainWhite);
  font-size: 0.8rem;
  padding: 7px 15px;
  letter-spacing: var(--mainSpacing);
  background: var(--mainGreen);
  position: fixed;
  z-index: 5;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: var(--mainTransition);
}

@keyframes infoPopUp {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.info-message-active {
  opacity: 1;
  animation: infoPopUp 3s linear;
  animation-fill-mode: forwards;
}

/* -------------- */

/* --------------- Hero ---------------- */
.hero {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-height: 1000px;
}
.banner-left {
  overflow: hidden;
  width: 50%;
  height: calc(100vh - 60px);
  border: 20px solid var(--primaryColor);
  border-top: none;
}
.banner-left img {
  width: 100%;
  position: relative;
  top: -150px;
}
.greyscaleImg {
  filter: grayscale(100%);
  transition: var(--mainTransition);
}
.banner-right {
  text-align: center;
  display: inline-block;
  padding: 3rem;
  overflow: hidden;
  width: 50%;
  animation-delay: 0.8s;
}
.banner-title {
  color: var(--mainBlack);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  font-weight: 700;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid transparent;
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:focus {
  outline: none;
}
.banner-btn:hover {
  background: transparent;
  color: var(--mainBlack);
  border: 1px solid var(--mainBlack);
}
/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(0, 0, 0, 0.356);
  visibility: hidden;
  z-index: 3;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 668px) {
  .hero .banner {
  }
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  border: 2px solid var(--mainBlack);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  background: var(--mainBlack);
}

.close-cart span {
  transform: rotate(45deg);
}

.close-cart:hover {
  background: transparent;
  color: var(--mainBlack);
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

.wrapper {
  max-width: 1566px;
  margin: 0 auto;
}
